<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Favorite Events</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/c1.jpg" />
      <p>Availing Uniforms</p>
      <h6>SSC Alangilan</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/c2.jpg" />
      <p>Recognition Day</p>
      <h6>SSC Alangilan</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/c3.jpg" />
      <p>Donation Drive</p>
      <h6>IINTESS</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/c4.jpg" />
      <p>Announcement</p>
      <h6>SSC Alangilan</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/travel.png" />
      <p>Job Seeking Event</p>
      <h6>CEAFA SC</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/aw.jpg" />
      <p>TOP Students AWARDS</p>
      <h6>SSC Alangilan</h6>
    </ion-col>
  </ion-row>
</ion-content>
