<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Events</h1>

  <div class="cart-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/merit.png" />
        </div>

        <div class="item-info">
          <p>Merit</p>
          <p>IINTESS</p>
          <p>July 5, 2022 | 10:00AM</p>

          <div class="qty-selector">
            
            <ion-label>Rate</ion-label>
            
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/track.png" />
        </div>

        <div class="item-info">
          <p>Tracking Compass</p>
          <p>SSC Alangilan</p>
          <p>June 20, 2023 | 9:00AM</p>

          <div class="qty-selector">
            
            <ion-label>Rate</ion-label>
            
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/final.png" />
        </div>

        <div class="item-info">
          <p>Extension Program</p>
          <p>ACCESS</p>
          <p>January 7, 2023 | 1:00PM</p>

          <div class="qty-selector">
            
            <ion-label>Rate</ion-label>
            
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/froshie.png" />
        </div>

        <div class="item-info">
          <p>Froshie Fair Event</p>
          <p>CEAFA SC</p>
          <p>August 22, 2022 | 8:00 AM</p>

          <div class="qty-selector">
            
            <ion-label>Rate</ion-label>
            
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/gawad.png" />
        </div>

        <div class="item-info">
          <p>GAWAD Pablo Award</p>
          <p>SSC Alangilan</p>
          <p>June 20, 2023 | 7:00AM</p>

          <div class="qty-selector">
            
            <ion-label>Rate</ion-label>
            
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/checkout" routerDirection="forward">Continue</ion-button>
  </ion-toolbar>
</ion-footer>
